.inner-container{
    display: flex;
    padding: 40px;
}

.inner-container-1{
  margin-top: 30px;
}

.inner-container-1 button{
    margin:40px 10px;
    width: 100px;
    height: 40px;
    font-size: medium;
    font-weight: 600;
    border-color: blueviolet;
}

.inner-container-1 button:hover{
    box-shadow: 3px 3px blueviolet ;
}

.inner-container-2{
  
}

